@import url("https://fonts.googleapis.com/css?family=Spectral:800&display=swap");

.navContainer {
  font-family: "Spectral", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

#logoContainer {
  display: flex;
  align-items: center;
}

#logoContainer h1 {
  color: #ffffff;
  padding-left: 10px;
}

.navContainer ul {
  list-style: none;
  padding: 0;
}

.navContainer ul li {
  display: inline-block;
  padding: 0 20px;
}

.navContainer ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s linear;
}

.navContainer ul li a:hover {
  color: #00c170;
}

#landing-container {
  display: flex;
}

.main {
  background: url(../images/landingBg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  flex: 80%;
}

.secondary {
  height: 100vh;
  display: inline-block;
  flex: 20%;
  overflow: scroll;
}

.secondary-text-container {
  padding: 15px;
}

#green-subtitle {
  color: rgba(0, 193, 112, 1);
}

#green-underline {
  text-decoration: underline rgba(0, 193, 112, 1);
}

#secondary-bold-paragraph {
  font-weight: bold;
  text-align: justify;
}

.secondary-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.secondary-info p {
  margin: 0px;
}

.secondary-info-title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  margin-bottom: 0;
}

.secondary-info-value {
  font-weight: bold;
  margin-top: 0;
}

.secondary-noMargin {
  padding-top: 40px;
  margin-bottom: 70px;
}

.secondary-noMargin p {
  margin: 0;
  line-height: 1.6;
  text-align: justify;
}

#secondary-button-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19%;
  background: #ffffff;
  height: 50px;
  bottom: 0;
}

#secondary-button-container p {
  padding-left: 15px;
  font-size: 14px;
  padding-right: 15px;
}

#secondary-button-container p a {
  color: rgba(0, 193, 112, 1);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.secondary button {
  background: rgba(0, 193, 112, 1);
  border-radius: 20px;
  font-size: 14px;
  padding: 5px;
  border: none;
  margin-left: 15px;
  width: 80px;
}

.secondary button a {
  color: #ffffff;
  text-decoration: none;
}
