html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ql-container {
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.ql-toolbar {
  background-color: #eaecec;
}
.ql-editor {
  cursor: text;
  width: 100%;
  min-height: 10rem;
}

.MuiButton-root {
  width: 100%;
  position: fixed;
}
