@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");

#footerContainer {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 70%;
}

.benefitsContainer {
  color: #ffffff;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefitsContainer li {
  width: 100px;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: rgba(255, 255, 255, 0.3) 0.5px solid;
  text-align: center;
  perspective: 1000px;
  transition: all 0.6s ease-in-out;
}

.benefitsContainer li:last-child {
  border-right: none;
}

.benefitsContainer li:hover {
  background: #ffffff;
}

.benefitsContainer li:first-child:hover:after {
  content: "Reduces Stress! A good-for-you habit to lessen impact of physical stressors.";
  position: absolute;
  z-index: 2;
  color: #000000;
}

.benefitsContainer li:nth-of-type(2):hover:after {
  content: "Keeps Memory Sharp! Boost comprehension + increase working memory capacity.";
  position: absolute;
  z-index: 2;
  color: #000000;
}

.benefitsContainer li:nth-of-type(3):hover:after {
  content: "Boosts Mood! Improve your mood + greater sense of emotional well-being.";
  position: absolute;
  z-index: 2;
  color: #000000;
}

.benefitsContainer li:last-child:hover:after {
  content: "Strengthens Emotional Functions! Helps the brain regulate emotions.";
  position: absolute;
  z-index: 2;
  color: #000000;
}
