body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#note-360 {
  height: 100%;
  width: 100%;
}

.SidebarComponent-sidebarContainer-6 {
  width: 15%;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.EditorComponent-editorContainer-110 {
  width: 81%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .SidebarComponent-sidebarContainer-6 {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
  }
  .EditorComponent-editorContainer-110 {
    width: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#routing-container {
  height: 100%;
}
